body {
    background-color: #49077C;
    
}

body header{
    
    font-size: 40px;
    color:#ffffff;
    font-family: Gill Sans;
    
}


body header {
    font-family: Fantasy;
}

#one {
    font-size: 65px;
    color: #FF8D33;
    text-align: center;
}


body h2{
    text-align: left;
    font-size: 45px;
    color: #A8F1EF;
}

img{
    border:3px solid #183AE1;
    height:350;
    width:700;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

body p {
    color: #A8F1EF;
    font-family: Helvetica;
    font-size: 24px;
}

main li {
    color:#FFFFFF;
    font-family: Helvetica;
    text-align: left;


}

main h2 {
    color: #A8F1EF;
    font-size: 40px; 
}

.cities {
    font-size: 25px;
    color: #A8F1EF;


}

body h3 {
    text-align: left;
    font-family: Helvetica;
    color:#F7F903;
    font-size: 35px;
}

body footer {
    font-family: Helvetica;
    font-size: 10px;
    color: #ffffff;
}